name: main_shinyapps
on:
  push:
    branches: main
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  deploy-shinyapps:
    if: github.repository_owner == 'shinyworks'
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.2'
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rsconnect
          cache-version: 1
      - name: Push to shinyapps
        run: |
          rsconnect::setAccountInfo(name='r4dscommunity', token=${{secrets.SHINYAPPS_TOKEN}}, secret=${{secrets.SHINYAPPS_SECRET}})
          rsconnect::deployApp(appName = 'cookies', forceUpdate = TRUE)
        shell: Rscript {0}
